/* search div */
.searchbar{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}

.searchinput {
    width: 50%;
    height: 50px;
    border: 1px solid rgb(0, 0, 0);
    /* border-radius: 5px; */
    padding: 10px;
    font-size: 1.2em;
}